<a href="https://colab.research.google.com/github/CharlesBlack96/GCA_everything/blob/main/GCA_EVERYTHING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) read 3x - undertstand



2) write down what problem needs me to do



3) make and write down an lgorithm to solve



4) translate to code 



5) debug

Compute the factorial of an integer n. This is commonly written as n!, which is read as "n factorial".

You must use a loop to solve this problem. You cannot hard-code the answers.

The factorial of a number is the product of every integer between 1 and n.

Special case: the factorial of 0 is defined to be 1.

In [ ]:
#use a loop to find the factorial of integer n. n! is the factorial 
#there is a special case where the factorial of 0 is 1
#write a function that breaks up a number into all the numbers used to count up to it including the number itsself
#then put these numbers into a list or dictionary and loop through them and multiply the first to the second then the second to the third and so on
#ex) 5 ......  1,2,3,4,5....... 1*2*3*4*5= 120...so input 5 and output is 120
#how do i do this.. a for loop has less time complexity than using dictionaries

In [ ]:
def solution(n):
  if n < 0:
    return 'undefined'
  elif n == 0:
    return 1
  else: 
    result = 1
    for i in range(1, n+1):
      result *= i
    return result

In [ ]:
#we use n+1 as the endpoint in the range because the range function has an EXCLUSIVE UPPER BOUND

In [ ]:
solution(5)

120

In [ ]:
solution(6)

720

In [ ]:
#=========================================================================================================================

Compute the product of all numbers from a to b, inclusive.

In [ ]:
#find product of all numbers from a to b inclusive
#create a function with a loop, have the range start with a and end with b+1
#the result should be declared at 1 but the function should return result * i (or each iteration in the length of the for loop)

#constraints = -12 <= a < b <= 12

In [ ]:
def solution(a,b):
  if a > b:
    return 'undefined'
  elif a < -12 and b < -12:
    return 'undefined'
  elif a > 12 or b > 12:
    return 'undefined'
  else:
    result = 1 # to ensure correct answers given for any input and that the result doesnt return 0 everytime
    for i in range(a, b+1):
      result = result * i
    return result

In [ ]:
#i wanted to initialize result as a but instead i should do 1 because 
#1) the product of any number and 1 is itsself
#2) accounting for the fact that if a is 0 the answer would be 0 
#3) 1 ensures that the function always gives correct reult for any input if a and b

In [ ]:
solution(2,8)

40320

In [ ]:
solution(6,10)

30240

In [ ]:
solution(2,17)

'undefined'

In [ ]:
#=========================================================================================================================

Return the length of a string.

JavaScript: you can get the length with s.length.
Python: you can get the length with len(s).
Java: you can get the length with s.length().

In [ ]:
#return the length of a string
#create a function that initializes result as 1 and then loops through a string and for each letter or i we will add 1 to result up until
# the length of the string
#after looping we will return result

In [ ]:
def solution(s):
  result = 1
  for i in range(1, len(s)):
    result = result + 1
  return result

In [ ]:
#if i read the prompt 3 times and wrote it down and my plan i might not have resulted to the habit of a for loop....overthinking
#the answer was given to me in the prompt!!!!!
#dont skkip steps 1 and 2 in problem solving

In [ ]:
def solution(s):
  return len(s)

In [ ]:
solution('123456789')

9

In [ ]:
solution('123')

3

In [ ]:
solution('lfiqwebrclqkhwbrclbqwlkedcblwIDECB')

34

In [ ]:
#=========================================================================================================================

Return the character at index n in a string s.

If the index is out of range of the length of the string, return the string "none". Otherwise, return the character at that index.

Java hint: you can convert a character to a string with Character.toString().

In [ ]:
#read 3x
#write in my own words
#write down alorith to solve including details from prompt
#translate t python
#debug

#return whatever character is at index n of a string
#loop through a string until the given index and print out the value of the index
#might need to turn value into a string using str() method
#return none if the index is out of range
def solution(s, n):
 if n < 0 or n >= len(s):
   return 'none'
 else:
    return s[n]

In [ ]:
solution('kasjdfgalwhf', 2)

's'

In [ ]:
#=========================================================================================================================

Return an uppercase version of the input string.

Characters that are already uppercase remain uppercase.

Characters that aren't letters are unchanged.

In [ ]:
#turn an entire string to uppercase...uppercase characters will stay uppercase and characters that are not letters dont change
#create a function that takes in a string
#it will take that string and use a built in method to change it to uppercase?
#or it will loop through the string and change each letter to an uppercase 
#the function will have two if statements to account for the nonletters and alreadyuppercase characters

def solution(s):
  return str.upper(s)

In [ ]:
solution('lahsdglHHHHHHH!!!!!!!javaklbjla')

'LAHSDGLHHHHHHH!!!!!!!JAVAKLBJLA'

In [ ]:
#=========================================================================================================================

Return true if a string is all lowercase.

Java and Javascript: there's no built-in for this. We have to compare the string to a lowercase version of itself created with .toLowerCase().

Python: you can use the built-in .islower() to determine this.

One difference is that this technique on JavaScript will report punctuation as lowercase, but the Python version will not.

In [ ]:
#give an answer of true of false for if a string is all lowercase
#compare the string to the lowercase version of itsself!
#that should be it the function will return boolean by default

In [ ]:
def solution(s):
  return s == str.lower(s)

In [ ]:
solution('lisyagfflaisu')

True

In [ ]:
solution('liasduhHlaygl')

False

In [ ]:
solution('liasdscaw;ucqwhnp9a;owicnwqepipqw;oeuncaerc[poqn4455l')

True

In [ ]:
#=========================================================================================================================

Count the number of occurrences of a letter in a string.

Do not use any built-in count() style functions for this task.

In [ ]:
#dont use count function
#return the number of occurences of each letter in a string
#create a function that loops through a string and counts each letter
#use a dictionary?...if then statements 
#or use a for loop..create a list called counts...

In [ ]:
def solution(s, letter):
  letter_count = 0
  for char in s:
    if char == letter:
      letter_count += 1
  return letter_count

In [ ]:
solution('ilagsdcliuqwherlcqherf7t  hd;qwjneldiqgwo8egcoqwbecl', "h")

3

In [ ]:
solution('hhhhhhhhaiaiaiiaiaiaiayyyayyyahhhavsvvvvvvvvv', 's')

1

In [ ]:
#=========================================================================================================================

Given a number, return the number of digits.

Hint:

JavaScript: you can convert a number to a string with the String() function.
Python: you can convert a number to a string with the str() function.
Java: you can convert a number to a string with the String.valueOf() function.

In [ ]:
#input: number output: number of digits in number
#create a function that takes in anumber and 
#creates a count = 0
#loops through the integer and for each digit adds 1 to the count
#the count will be returned


#int is not iterable....must turn int into a string

In [ ]:
def solution(n):
  count = 0
  for digit in str(n):
    count = count +1
  return count

In [ ]:
solution(1217424127641221761285)

22

In [ ]:
#=========================================================================================================================

Return the index of the last character in a string. If the string is empty, return -1.

In [ ]:
#return the index of the last character in a string
#if string is emtpty return -1

In [ ]:
def solution(s):
  count = -1
  for letter in s:
    if s == '':
      return -1
    else:
      count = count + 1
  return count

In [ ]:
def last_char_index(s):
    if s == "":
        return -1
    else:
        return len(s) - 1

In [ ]:
solution('jhsdafglkafhlsdk')

15

In [ ]:
#=========================================================================================================================

Return the last character in a string. If the string is empty, return "none".

In [ ]:
#return the last character of a string
#if the sting is empty return none
def solution(s):
  if s == '':
    return 'none'
  else:
    return s[-1]

In [ ]:
solution('charlie')

'e'

In [ ]:
#=========================================================================================================================

Return true if the first and second characters in the string are equal.

In [ ]:
#answer with true or false 
#for the condition: if the 1st and 2nd index of the string are the same

In [ ]:
def solution(s):
  return s[0] == s[1]

In [ ]:
solution('ssliusdq')

True

In [ ]:
solution('sfliusdq')

False

In [ ]:
#=========================================================================================================================

Return true if the first and last characters in the string are equal.

In [ ]:
#true of false answer
#condition: the 1st and last index of a string are equal

In [ ]:
def solution(s):
  return s[0] == s[-1]

In [ ]:
solution('bob')

True

In [ ]:
solution('sdkalhb')

False

In [ ]:
solution('kchlaecbielk')

True

In [ ]:
#=========================================================================================================================

Return true if the last two characters in the string are equal.

In [ ]:
#true of false answer
#condition last two indices of string are equal

In [ ]:
def solution(s):
  return s[-1] == s[-2]

In [ ]:
solution('ljakhsdflakll')

True

In [ ]:
solution("lciqewgrlceb")

False

In [ ]:
solution("liaucgefdbsiacyy")

True

In [ ]:
#=========================================================================================================================

Return a lowercase version of the input string.

Characters that are already lower case remain lowercase.

Characters that aren't letters are unchanged.

In [ ]:
#take in a string and return the lowercase version of it
#create a function that used the .lower() method to change the string to lowercase

In [ ]:
def solution(s):
  return s.lower()

In [ ]:
solution('JKHSDAFGASDLKFHJA')

'jkhsdafgasdlkfhja'

In [ ]:
solution('lkajdsfalKDSFAGDSLFKVhhhh...!!!')

'lkajdsfalkdsfagdslfkvhhhh...!!!'

In [ ]:
#=========================================================================================================================

Return true if a string is all uppercase.

Javascript: there's no built-in for this. We have to compare the string to a lowercase version of itself created with .toUpperCase().

Python: you can use the built-in .isupper() to determine this.

One difference is that this technique on JavaScript will report punctuation as uppercase, but the Python version will not.

In [ ]:
#true of false answer
#conditon is if the string is all uppercase
#compare the regular string input to the uppercase version of itsself

In [ ]:
def solution(s):
  return s == s.upper()

In [ ]:
solution('KLFDHGALDK')

True

In [ ]:
solution('kladkjh')

False

In [ ]:
#=========================================================================================================================

For a given string, return a new string with asterisks (*) on each side of each letter.

If the string is empty, return an empty string.

In [ ]:
#take in a string and return a new string with *i* for each i.
#if the string is empty return an empty string
#create a function that takes in a string and loops through it and for every letter place a * on each side

In [ ]:
def solution(s):
  result = ''
  for i in s:
    result += '*' + i + '*'
  return result

In [ ]:
solution('sdaflkghj')

'*s**d**a**f**l**k**g**h**j*'

In [ ]:
#========================================================================================================================

For a given string, return a new string with asterisks (*) on each side of each letter.

Do not use any built-in join()-style functionality for this task.

If the string is empty, return a single asterisks.

In [ ]:
#take in a string and return a new string with *i* for each i.
#if the string is empty return an empty string
#create a function that takes in a string and loops through it and for every letter place a * on each side

In [ ]:
def solution(s):
    if s == '':
      return ''
    else:
      return f"{s.replace('','*')}"

      #this code passed 4 ut of 5 tests

In [ ]:
solution('licdbclqblekb')

'*l*i*c*d*b*c*l*q*b*l*e*k*b*'

In [ ]:
#========================================================================================================================

For a given string, return the letter that's highest in the alphabet.

In [ ]:
#take is a string
#check each letter and compare it to the whole alphabet
#return the letter from the sting thaat is closest to the end of the alphabet

In [ ]:
#So in the example provided, the highest_letter function is using
##lambda x: ord(x) as the key function for the max() function, this 
#means that the max function will compare the ordinal values of each
#character in the string and return the one with the highest ordinal
#value which is the highest letter in the alphabet.

In [ ]:
def solution(s):
  return max(s, key = lambda i: ord(i))

In [ ]:
solution('lkdsajfglkwjhfx')

'x'

In [ ]:
#========================================================================================================================

Construct a string of n capital "A"s.

You must use a loop to solve this initially. After that, you can experiment with other built-in string duplication methods.

In [ ]:
import string
#given a number return a string of that number of capital As in a string
# use a for loop
# start with empty string
# for i in range(n)
# add 'A' to the string

In [ ]:
def solution(n):
  result = ''
  for i in range(n):
    result += 'A'
  return result

In [ ]:
solution(10)

'AAAAAAAAAA'

In [ ]:
#========================================================================================================================

You are given an array of integers arr. Consider its elements in pairs: (arr[0], arr[1]), (arr[2], arr[3]), and so on. Arrange the elements in each pair in ascending order. In other words, swap the position of paired elements if the left element is greater than the right one.

If arr contains an odd number of elements, the last element should be left unchanged.

Example

For arr = [1, 5, 7, 3, 2, 1], the output should be solution(arr) = [1, 5, 3, 7, 1, 2].

Explanation:

The given array consists of 3 pairs: (1, 5), (7, 3), (2, 1).
After arranging elements in each pair in ascending order, we get: (1, 5), (3, 7), (1, 2).
So, the answer is [1, 5, 3, 7, 1, 2].
For arr = [6, 7, 8, 8, 5, 3, 2], the output should be solution(arr) = [6, 7, 8, 8, 3, 5, 2].

Explanation:

The given array consists of 3 pairs and 1 ending element: (6, 7), (8, 8), (5, 3), and (2).
After arranging elements in every pair in ascending order, we get: (6, 7), (8, 8), (3, 5), and (2).
So, the answer is [6, 7, 8, 8, 3, 5, 2].

In [ ]:
#given an array of integers consider every two adjacent numbers to be a pair 
#order each pair in ascending order. 
#if there is an oddd number of integers the last one without a piar in unchanged.
#createa a function that loops through an array and selects every two numbers as a pair without overlapping numbers
#for each pair place the two numbers in ascending order

In [ ]:
def solution(arr):
  for i in range(0,len(arr)-1,2):
    if arr[i] > arr[i+1]:
      arr[i],arr[i+1] = arr[i+1],arr[i]
  return arr

In [ ]:
solution([1,2,3,4,4,3,5,4])

[1, 2, 3, 4, 3, 4, 4, 5]

In [ ]:
#========================================================================================================================

Consider a league-style competition with several teams competing against each other in matches. Each match is comprised of two teams playing against each other. Teams try to score goals during a match, and the team that scores the most goals wins. The competition uses a point system to determine team rankings - after a match, the winning team receives 3 points, the losing team receives 0 points, or, in case of a tie/draw, both teams receive 1 point.

The winner of the competition is the team that accumulates the most points. In case of a tie, the winner is the team with the highest goal difference. The team with the second place is the team that got more points (or the highest goal difference, in case of a tie) than every other team except the competition's winner. It is guaranteed that there will only be one winner in the competition and one team that gets the second place.

Goal difference is calculated as scored_goals - conceded_goals, where scored_goals is the total number of goals scored during the competition, and conceded_goals is the total number of goals conceded during the competition.

You are given 4 arrays of the same length: wins, draws, scored, and conceded. Within each array, the ith element represents the corresponding metric for the ith team - i.e., scored goals scored[i], conceded goals conceded[i], matches won wins[i], and matches tied draws[i] during the competition (for each i in 0, 1, ..., wins.length - 1).

Your task is to determine the indices of the winning team and the team that got the second place.

Example

For wins = [2, 1, 0], draws = [1, 5, 6], scored = [20, 15, 10], and conceded = [20, 10, 15], the output should be
solution(wins, draws, scored, conceded) = [1, 0].
Explanation:

The 0th team received 2  3 + 1 = 7 points;

The 1st team received 1  3 + 5 = 8 points;

The 2nd team received 0  3 + 6 = 6 points.
As 8 > 7 > 6, the 1st team is the winner and the 0th team got the second place. So, the answer is [1, 0].

For wins = [3, 1, 2, 2], draws = [1, 5, 4, 4], scored = [30, 10, 20, 40], and conceded = [32, 13, 18, 37], the output should be
solution(wins, draws, scored, conceded) = [3, 2].

Explanation:

The 0th team received 3  3 + 1 = 10 points;
The 1st team received 1  3 + 5 = 8 points;
The 2nd team received 2  3 + 4 = 10 points;
The 3rd team received 2  3 + 4 = 10 points.
Three teams have the highest number of points: 0th, 2nd and 3rd
The 0th team has a goal difference of 30 - 32 = -2;
The 2nd team has a goal difference of 20 - 18 = 2;
The 3rd team has a goal difference of 40 - 37 = 3;
As 3 > 2 > -2, the 3rd team is the winner and the 2nd team got the second place. So, the answer is [3, 2].

In [ ]:
#========================================================================================================================

Let's define a rhombic area of size k as the set of all cells that are exactly k - 1 steps away (up, down, left, or right) from a given center cell in a matrix.

In the image below, the black cell is the center of the rhombic area and every cell contains a number that represents the distance to the center, which is called radius. The distance between a center cell (centerX, centerY) and another cell (cellX, cellY) is calculated as follows distance = abs(centerX - cellX) + abs(centerY - cellY) + 1, where abs(x) is an absolute value of x.

Cells with the same radius are colored in the same color.



Given a rectangular matrix of integers matrix, and an integer radius, your task is the following:

For each of the possible center cells of matrix, find the sum of all elements on the border of the surrounding rhombic area of size radius. Note: only consider the rhombic areas whose elements all fit within the bounds of matrix.
From among these sums, find the highest value.
Return an integer representing the highest sum.

Example

For

matrix = [[10, 0, 4, 2, 7, 3],
          [6, 2, 7, 2, 1, 1],
          [4, 1, 4, 5, 3, 0],
          [3, 5, 2, 1, 4, 6],
          [3, 4, 6, 1, 0, 4],
          [3, 4, 6, 1, 0, 4]]
and radius = 3, the output should be solution(matrix, radius) = 31.

Expand to see the example video.

Note: If you are not able to see the video, use this link to access it.

As you can see from the animation above, among these 6 rhombic areas there are four distinct sums: 27, 18, 31, 27. So the maximum sum among them is 31 which is the answer.

For

matrix = [[100]]
and radius = 1, the output should be solution(matrix, radius) = 100.

There is a single center, and the rhombic area of size radius = 1 contains a single number 100 as the center.

In [ ]:
#========================================================================================================================


RULES
README
SETTINGS
Codewriting

You are given two arrays of integers a and b, and an array queries, the elements of which are queries you are required to process. Every queries[i] can have one of the following two forms:

[0, i, x]. In this case, you need to assign a[i] the value of x (a[i] = x).
[1, x]. In this case, you need to find the total number of pairs of indices i and j such that a[i] + b[j] = x.
Perform the given queries in order and return an array containing the results of the queries of the type [1, x].

Example

For a = [3, 4], b = [1, 2, 3], and queries = [[1, 5], [0, 0, 1], [1, 5]], the output should be solution(a, b, queries) = [2, 1].

The arrays look like this initially:
a = [3, 4] and b = [1, 2, 3]

For the query [1, 5], there are two ways to form a sum of 5 using an element from each array: 5 = 3 + 2 = a[0] + b[1] and 5 = 4 + 1 = a[1] + b[0]. So the result is 2.

The query [0, 0, 1] re-assigns the value of a[0] to 1, so the arrays now look like this:
a = [1, 4] and b = [1, 2, 3]

For the final [1, 5] query, there's now only one way to form a sum of 5 using an element from each array: 5 = 4 + 1 = a[1] + b[0]. So the result is 1.

Since the two queries of type [1, x] gave results of 2 and 1 respectively, the answer is [2, 1].

For a = [2, 3], b = [1, 2, 2], and queries = [[1, 4], [0, 0, 3], [1, 5]], the output should be solution(a, b, queries) = [3, 4].

The arrays look like this initially:
a = [2, 3] and b = [1, 2, 2]

For the query [1, 4], there are three ways to form a sum of 4 using an element from each array: 4 = 2 + 2 = a[0] + b[1], 4 = 2 + 2 = a[0] + b[2], and 4 = 3 + 1 = a[1] + b[0]. So the result is 3.

The query [0, 0, 3] re-assigns the value of a[0] to 3, so the arrays now look like this:
a = [3, 3] and b = [1, 2, 2]

For the query [1, 5], there are now 4 ways to form a sum of 5 using an element from each array: 5 = 3 + 2 = a[0] + b[1], 5 = 3 + 2 = a[0] + b[2], 5 = 3 + 2 = a[1] + b[1], and 5 = 3 + 2 = a[1] + b[2]. So the result is 4.

Since the two queries of type [1, x] gave results of 3 and 4 respectively, the answer is [3, 4].

In [ ]:
#========================================================================================================================

Given two strings, find the number of common characters between them.
For s1 = "aabcc" and s2 = "adcaa", the output should be
solution(s1, s2) = 3.

# Strings have 3 common characters - 2 "a"s and 1 "c".

In [ ]:
#finc the number of characters that are inside of two strings given 2 strings
#create a function that takes in two strings
#each string will be looked at and the common characters between them will be added to a list and the list will be counted

In [ ]:
def solution(s1,s2):
  return sum([min(s1.count(c), s2.count(c)) for c in set(s1) & set(s2)])

In [ ]:
solution('ljsadfghklfas','ajsfhklashjf')

10

In [ ]:
solution('aboieurwtoeirut', 'llllllllllllllllab')

2

Explanation:

set(s1) & set(s2) finds the intersection of unique characters in s1 and s2.
min(s1.count(c), s2.count(c)) finds the minimum number of occurrences of character c in s1 and s2.
sum([min(s1.count(c), s2.count(c)) for c in set(s1) & set(s2)]) sums up the minimum occurrences of all common characters.

In [ ]:
#========================================================================================================================

Ticket numbers usually consist of an even number of digits. A ticket number is considered lucky if the sum of the first half of the digits is equal to the sum of the second half.

Given a ticket number n, determine if it's lucky or not.

In [ ]:
#take in a ticket number and conclude with true and false if it is lucky or not.
#ticket numbers are even number of digits
#lucky means the sum of the first half of the numbers is equal to the sum of the second half.
#create a function that takes in an ticket with an even amount of numbers and sees if the sum of the first half of the ticket is equal to the sum of the second half of the ticket

In [ ]:
def solution(n):
  n = str(n) # so we can iterate through the digits
  half = len(n) // 2
  return sum(int(d) for d in n[half:]) == sum(int(d) for d in n[:half])

In [ ]:
solution(2244)

False

In [ ]:
solution(222222)

True

In [ ]:
#========================================================================================================================

Some people are standing in a row in a park. There are trees between them which cannot be moved. Your task is to rearrange the people by their heights in a non-descending order without moving the trees. People can be very tall!

Example

For a = [-1, 150, 190, 170, -1, -1, 160, 180], the output should be
solution(a) = [-1, 150, 160, 170, -1, -1, 180, 190].

In [ ]:
#rearage the numbers of a list except negative 1
#rearage all numbers except the -1's that should stay in the same index they are already in
#rearage the numbers in ascending order
#create a function that takes in a list of numbers and multiple -1 values 
#loop through the list targeting all numbers except -1 by making a new list maybe of by selecting only select indices
#rearange targeted numbers and then place them in order without making the -1's move

In [ ]:
def solution(a):
    # Find the people in the row
    people = [x for x in a if x != -1]
    # Sort the people by their height
    people.sort()
    # Replace the people in the original array with the sorted people
    for i, x in enumerate(a):
        if x != -1:
            a[i] = people.pop(0)
    return a

In [ ]:
solution([-1, 150, 190, 170, -1, -1, 160, 180])

[-1, 150, 160, 170, -1, -1, 180, 190]

In [ ]:
#========================================================================================================================

Write a function that reverses characters in (possibly nested) parentheses in the input string.

Input strings will always be well-formed with matching ()s.

Example

For inputString = "(bar)", the output should be
solution(inputString) = "rab";
For inputString = "foo(bar)baz", the output should be
solution(inputString) = "foorabbaz";
For inputString = "foo(bar)baz(blim)", the output should be
solution(inputString) = "foorabbazmilb";
For inputString = "foo(bar(baz))blim", the output should be
solution(inputString) = "foobazrabblim".
Because "foo(bar(baz))blim" becomes "foo(barzab)blim" and then "foobazrabblim".

In [ ]:
def solution(inputString):
    stack = []
    result = ''
    for char in inputString:
        if char == '(':
            stack.append(result)
            result = ''
        elif char == ')':
            temp = stack.pop()
            result = temp + result[::-1]
        else:
            result += char
    return result
    nsdc

Given a rectangular matrix of characters, add a border of asterisks(*) to it.

Example

For

picture = ["abc",
           "ded"]
the output should be

solution(picture) = ["*****",
                      "*abc*",
                      "*ded*",
                      "*****"]

In [1]:
def solution(picture):
    # Get the number of rows and columns in the matrix
    rows = len(picture)
    cols = len(picture[0])
    bordered_matrix = ["*"*(cols+2)]
    for i in picture:
        bordered_matrix.append("*"+i+"*")
    bordered_matrix.append("*"*(cols+2))
    return bordered_matrix

In [2]:
def solution(picture):
    l=len(picture[0])+2
    return ["*"*l]+[x.center(l,"*") for x in picture]+["*"*l]